In [27]:
import nltk
#nltk.download('punkt')
nltk.download('wordnet')
#nltk.download('omw-1.4')  
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
from nltk.stem.lancaster import LancasterStemmer
stemmer=LancasterStemmer()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\HR\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [28]:
from nltk.corpus import wordnet

In [3]:
import pandas as pd

In [4]:
import spacy
from spacy.matcher import Matcher

In [11]:
from thefuzz import fuzz, process

In [6]:
nlp = spacy.load('en_core_web_sm')

In [7]:
#df1 = pd.read_csv('source_1.csv')
#df1

In [8]:
#df2 = pd.read_csv('source_2.csv')
#df2

In [9]:
matcher = Matcher(nlp.vocab)

In [10]:
type(nlp.vocab)

spacy.vocab.Vocab

In [11]:
p1 = [{'LOWER': 'quickbrownfox'}]
p2 = [{'LOWER': 'quick'}, {'IS_PUNCT': True}, {'LOWER': 'brown'}, {'IS_PUNCT': True}, {'LOWER': 'fox'}]
p3 = [{'LOWER': 'quick'}, {'LOWER': 'brown'}, {'LOWER': 'fox'}]
p4 =  [{'LOWER': 'quick'}, {'LOWER': 'brownfox'}]
patterns = [p1, p2, p3, p4]

In [12]:
matcher.add('QBF', patterns)

In [13]:
sentence = nlp(u'The quick-brown-fox jumps over the lazy dog. The quick brown fox eats well. \
               the quickbrownfox is dead. the dog misses the quick brownfox')
type(sentence)

spacy.tokens.doc.Doc

In [14]:
phrase_matches = matcher(sentence)
print(phrase_matches )

[(12825528024649263697, 1, 6), (12825528024649263697, 13, 16), (12825528024649263697, 21, 22), (12825528024649263697, 29, 31)]

In [15]:
for match_id, start, end in phrase_matches:
    string_id = nlp.vocab.strings[match_id]  
    span = sentence[start:end]                   
    print(match_id, string_id, start, end, span.text)

12825528024649263697 QBF 1 6 quick-brown-fox
12825528024649263697 QBF 13 16 quick brown fox
12825528024649263697 QBF 21 22 quickbrownfox
12825528024649263697 QBF 29 31 quick brownfox

In [16]:
import bs4 as bs  
import urllib.request  
import re  
#import nltk

scrapped_data = urllib.request.urlopen('https://en.wikipedia.org/wiki/Artificial_intelligence')  
article = scrapped_data .read()

parsed_article = bs.BeautifulSoup(article,'lxml')

paragraphs = parsed_article.find_all('p')

article_text = ""

for p in paragraphs:  
    article_text += p.text
    
    
processed_article = article_text.lower()  
processed_article = re.sub('[^a-zA-Z]', ' ', processed_article )  
processed_article = re.sub(r'\s+', ' ', processed_article)

In [17]:
processed_article[0:100]

' artificial intelligence ai is intelligence demonstrated by machines as opposed to the natural intel'

In [18]:
import spacy
nlp = spacy.load('en_core_web_sm')

from spacy.matcher import PhraseMatcher
phrase_matcher = PhraseMatcher(nlp.vocab)
phrase_matcher

In [19]:
#phrases = ['machin', 'robots', 'intelligent agents']
phrases = ['machines']

patterns = [nlp(text) for text in phrases]
phrase_matcher.add('AI', None, *patterns)

In [20]:
sentence = nlp (processed_article[0:100])

matched_phrases = phrase_matcher(sentence)
print(sentence)
matched_phrases

 artificial intelligence ai is intelligence demonstrated by machines as opposed to the natural intel

[(5530044837203964789, 8, 9)]

In [21]:
for match_id, start, end in matched_phrases:
    string_id = nlp.vocab.strings[match_id]  
    span = sentence[start:end]                   
    print(match_id, string_id, start, end, span.text)

5530044837203964789 AI 8 9 machines

In [22]:
pd.set_option('display.max_rows', None)

In [23]:
import spacy
nlp = spacy.load('en_core_web_sm')

from spacy.matcher import PhraseMatcher
phrase_matcher = PhraseMatcher(nlp.vocab)
phrase_matcher

In [24]:
phrases = ['millets']

patterns = [nlp(text) for text in phrases]
phrase_matcher.add('agriculture', None, *patterns)

In [25]:
sentence = nlp ('Cereals millet')

matched_phrases = phrase_matcher(sentence)
print(sentence)
matched_phrases

Cereals millet

[]

In [26]:
items2 = {}
for entry in df.source_2.to_list():
    items = clean_sentence(entry)
    print(items)

NameError: name 'df' is not defined

In [ ]:
def clean_sentence(sentence):
    sentence_words = nltk.word_tokenize(sentence)
    #sentence_words = [stemmer.stem(word.lower()) for word in sentence_words]
    sentence_words = [lemmatizer.lemmatize(word.lower()) for word in sentence_words]
    return sentence_words
clean_sentence('cornflour')

In [ ]:
df = pd.read_csv('matched_data.csv')
df

# fuzzy

In [53]:
ls = ['licorice', 'liquorice', 'Glycyrrhiza_glabra', 'licorice', 'liquorice']
st = ' '.join(ls)

In [54]:
s1 = 'licorice' + st
s2 = 'Vegetable saps and extracts, of liquorice'

In [55]:
print(s1 == s2)
print(s1 is s2)

False
False

In [56]:
fuzz.ratio(s1, s2)

40

In [57]:
fuzz.partial_ratio(s1, s2)

44

In [58]:
fuzz.token_sort_ratio(s1, s2)

35

In [59]:
fuzz.token_set_ratio(s1, s2)

40

In [60]:
fuzz.partial_token_set_ratio(s1, s2)

100

In [61]:
fuzz.partial_token_sort_ratio(s1, s2)

42

In [ ]:
s1 = 'hello world is what i want to tell you '
s2 = 'what i want to tell you is hello world'

In [ ]:
fuzz.ratio(s1, s2)

In [ ]:
fuzz.partial_ratio(s1, s2)

In [ ]:
fuzz.token_sort_ratio(s1, s2)

In [ ]:
s1 = 'hello world'
s2 = 'hello  hello world world world'

In [ ]:
fuzz.ratio(s1, s2)

In [ ]:
fuzz.partial_ratio(s1, s2)

In [ ]:
'Sesamum_indicum'
fuzz.partial_ratio('beet pulp' , 'Pulp, bagasse and other waste of sugar manufacture')

In [ ]:
fuzz.token_set_ratio(' pulp' , 'Pulp, bagasse and other waste of sugar manufacture')

In [ ]:
fuzz.token_set_ratio(s1, s2)

In [ ]:
import string 
    
# An input string.
Sentence = "Hey, Geeks !, How are you?"
  
for i in Sentence:
      
    # checking whether the char is punctuation.
    if i in string.punctuation:
          
        # Printing the punctuation values 
        print("Punctuation: " + i)

In [ ]:
string.punctuation

In [ ]:
'hello_world'.strip(string.punctuation)

In [ ]:
' '.join(word.strip(string.punctuation) for word in "Hello, world. I'm a boy, you're a girl.".split())

In [ ]:
' '.join(word.strip(string.punctuation) for word in "Hello_world".split())

In [ ]:
' '.join('hello_world'.split('_'))

In [ ]:
'helloworld'.split('_')

In [ ]:
ls = ['hello', 'world', 'boon']
st = 'good_morning'
ls.extend(st.split('_'))
ls

In [ ]:
'hello world'.strip()

In [ ]:
' ' in 'hello world'

In [ ]:
d = dict(a=3, b=6)
d

In [ ]:
df_s1 = pd.read_csv('source_1.csv')
df_s2 = pd.read_csv('source_2.csv')

# missing

In [46]:
df_matched = pd.read_csv('matched_data.csv')
df_matched.head()

                                    source_1    source_2
0                            Cereals, barley      barley
1            Other fresh or chilled potatoes    potatoes
2             Fruit, edible; cherries, fresh    cherries
3  Bran, sharps and other residues, of maize  maize bran
4                            Cereals, millet     millets

In [47]:
df_try = pd.read_csv('matched_try.csv')
df_try.head()

   Unnamed: 0                                         s1          s2
0           0                            Cereals, barley      barley
1           1            Other fresh or chilled potatoes    potatoes
2           2             Fruit, edible; cherries, fresh    cherries
3           3  Bran, sharps and other residues, of maize  maize bran
4           4                            Cereals, millet     millets

In [48]:
matched_s2 = df_matched.source_2.to_list()
matched_s1 = df_matched.source_1.to_list()

try_s2 = df_try.s2.to_list()
try_s1 = df_try.s1.to_list()

len(matched_s2), len(try_s2), len(try_s1)

(99, 80, 80)

In [49]:
missing_s2 = [item for item in matched_s2 if item not in try_s2]
missing_s1 = [item for item in matched_s1 if item not in try_s1]

In [50]:
len(missing_s2), len(missing_s1)

(19, 19)

# synpnyms

In [62]:
synonyms = []
for syn in wordnet.synsets('rayon'):
    for lemma in syn.lemmas():
        synonyms.append(lemma.name())
synonyms

['rayon']

In [51]:
def get_ratios(i,j):
    print(f"'{i}' vs '{j}'")
    ratio = fuzz.ratio(i, j)
    print(f"Ratio : {ratio}")

    partial_ratio = fuzz.partial_ratio(i, j)
    print(f"Partial Ratio : {partial_ratio}")

    token_sort_ratio = fuzz.token_sort_ratio(i, j)
    print(f"Token sort Ratio : {token_sort_ratio}")

    token_set_ratio = fuzz.token_set_ratio(i, j)
    print(f"Token set Ratio : {token_set_ratio}")
    print()

In [52]:
for i in range(len(missing_s2)):
    get_ratios(missing_s2[i], missing_s1[i])

'beet pulp' vs 'Pulp, bagasse and other waste of sugar manufacture'
Ratio : 20
Partial Ratio : 33
Token sort Ratio : 31
Token set Ratio : 62

'cornflour' vs 'Maize (corn) flour'
Ratio : 67
Partial Ratio : 78
Token sort Ratio : 72
Token set Ratio : 72

'equus asinus' vs 'Asses, live'
Ratio : 35
Partial Ratio : 36
Token sort Ratio : 45
Token set Ratio : 45

'crab apples' vs 'Fresh apples'
Ratio : 70
Partial Ratio : 73
Token sort Ratio : 70
Token set Ratio : 71

'beeswax' vs 'Waxes, other than vegetable, n.e.s. in heading no. 1521; whether or not refined or coloured'
Ratio : 10
Partial Ratio : 29
Token sort Ratio : 13
Token set Ratio : 13

'yuca' vs 'Vegetable roots and tubers; manioc (cassava), with high starch or inulin content, whether or not sliced or in the form of pellets, fresh or dried'
Ratio : 4
Partial Ratio : 50
Token sort Ratio : 4
Token set Ratio : 4

'weaning foods' vs 'Food preparations; of flour, meal, starch, malt extract or milk products, for infant use, put up for retail sale'
Ratio : 16
Partial Ratio : 38
Token sort Ratio : 15
Token set Ratio : 16

'tapioca' vs 'Manioc (cassava) starch'
Ratio : 33
Partial Ratio : 57
Token sort Ratio : 36
Token set Ratio : 36

'horses' vs 'Live asses, mules and hinnies'
Ratio : 17
Partial Ratio : 33
Token sort Ratio : 24
Token set Ratio : 24

'rabbit meat' vs 'Fres/chil/froz oth.meat/edib.meat offal of rabib./hares'
Ratio : 21
Partial Ratio : 45
Token sort Ratio : 28
Token set Ratio : 53

'raisins' vs 'Bran and other residues, of rice'
Ratio : 26
Partial Ratio : 43
Token sort Ratio : 26
Token set Ratio : 26

'cocoa butter' vs 'Dry grapes'
Ratio : 18
Partial Ratio : 20
Token sort Ratio : 27
Token set Ratio : 27

'tamari' vs 'Sauces, soya'
Ratio : 22
Partial Ratio : 17
Token sort Ratio : 24
Token set Ratio : 24

'pawpaw (carica papaya)' vs 'Fresh papaws (papayas)'
Ratio : 64
Partial Ratio : 64
Token sort Ratio : 55
Token set Ratio : 55

'cabbages' vs 'Fresh/chilled lettuce'
Ratio : 14
Partial Ratio : 25
Token sort Ratio : 21
Token set Ratio : 21

'dromedary meat' vs 'Meat and edible meat offal; of camels and other camelids (Camelidae), fresh, chilled or frozen'
Ratio : 19
Partial Ratio : 57
Token sort Ratio : 21
Token set Ratio : 44

'carobs' vs 'locust beans, seaweeds and other algae, sugar beet and sugar cane, fresh, chilled, frozen or dried, whether or not ground; fruit stones and kernels and other vegetable products (including unroasted chicory roots of the variety cichorium intybus sativum) of a kind used primarily for human consumption, not elsewhere specified or included; seaweeds and other algae other than fit for human consumption'
Ratio : 3
Partial Ratio : 33
Token sort Ratio : 3
Token set Ratio : 4

'plows' vs 'Ploughs'
Ratio : 50
Partial Ratio : 40
Token sort Ratio : 67
Token set Ratio : 67

'disc harrows' vs 'Vegetables, leguminous; pigeon peas (Cajanus cajan), shelled, whether or not skinned or split, dried'
Ratio : 16
Partial Ratio : 42
Token sort Ratio : 15
Token set Ratio : 14

In [57]:
ls = ['plow',
 'plough',
 'plow',
 'plough',
 'turn',
 'cover',
 'treat',
 'handle',
 'plow',
 'deal',
 'address',
 'plow',
 'plough']

In [61]:
st ='plows ' + ' '.join(ls)
st

'plows plow plough plow plough turn cover treat handle plow deal address plow plough'

In [70]:
get_ratios(st, 'Ploughs')

'plows plow plough plow plough turn cover treat handle plow deal address plow plough' vs 'Ploughs'
Ratio : 13
Partial Ratio : 71
Token sort Ratio : 16
Token set Ratio : 23

In [71]:
fuzz.partial_token_sort_ratio(st, 'Ploughs')

86

In [73]:
fuzz.partial_token_set_ratio('crab apples', 'fresh apples')

100

In [74]:
get_ratios('crab apples', 'fresh apples')

'crab apples' vs 'fresh apples'
Ratio : 70
Partial Ratio : 73
Token sort Ratio : 70
Token set Ratio : 71

In [76]:
fuzz.partial_token_set_ratio('dromedary meat', 
                             'Meat and edible meat offal; of camels and other camelids (Camelidae), fresh, chilled or frozen')

100

In [1]:
lst_1 = [1, 2, 3, 4, 5]
lst_2 = [num * 2 for num in lst_1]
lst_2

[2, 4, 6, 8, 10]

In [2]:
lst_3 = []

for num in lst_2:
    lst_3.append(num * 2)
    
lst_3

[4, 8, 12, 16, 20]

In [6]:
import itertools

In [10]:
for x,y in itertools.zip([1,2,3,4], [4,3,2,1]):
    print(x,y)

AttributeError: module 'itertools' has no attribute 'zip'

In [64]:
from thefuzz import fuzz, process

In [65]:
s1 = ['hello the pit killer', 'good croc', 'susti reed in the water']
for i, x in enumerate(s1):
    print(i,x)

0 hello the pit killer
1 good croc
2 susti reed in the water

In [68]:
ans = process.extractOne('hello', s1, scorer = fuzz.partial_token_sort_ratio)
ans

('hello the pit killer', 100)

In [69]:
type(ans)

tuple

In [70]:
ans[0]

'hello the pit killer'

In [74]:
import pandas as pd

data = {'Product': ['Laptop','Printer','Monitor','Tablet']
        }
df = pd.DataFrame(data, columns = ['Product'])

print (df)
print(type(df))

   Product
0   Laptop
1  Printer
2  Monitor
3   Tablet
<class 'pandas.core.frame.DataFrame'>

In [75]:
my_dictionary = df.to_dict()

print (my_dictionary)
print(type(my_dictionary))

{'Product': {0: 'Laptop', 1: 'Printer', 2: 'Monitor', 3: 'Tablet'}}
<class 'dict'>

In [115]:
old_dict = my_dictionary['Product']
old_dict

{0: 'Laptop', 1: 'Printer', 2: 'Monitor', 3: 'Tablet'}

In [124]:
new_dict = dict([(value, key) for key, value in old_dict.items()])
for x in new_dict.keys():
    print(type(x), x)

<class 'str'> Laptop
<class 'str'> Printer
<class 'str'> Monitor
<class 'str'> Tablet

In [127]:
df_s1 = pd.read_csv('source_1.csv')
df_s2 = pd.read_csv('source_2.csv')

In [128]:
type(df_s1)

pandas.core.frame.DataFrame

In [90]:
df_s1.head()

   id                                               name
0   0  Horses, asses, mules and hinnies; live, pure-b...
1   1           Horses; live, pure-bred breeding animals
2   2  Horses; live, other than pure-bred breeding an...
3   4  Horses, asses, mules and hinnies; live, other ...
4   5   Bovine animals; live, pure-bred breeding animals

In [134]:
df_s2.name.to_dict()[0]

'leveillula lactucae-serriolae'

In [114]:
s2_dict = df_s2.to_dict()['name']
s2_dict = dict([(value, key) for key, value in old_dict.items()])
#s2_dict

In [135]:
s1 = 'Poultry; live, ducks, weighing not more than 185g'
s2 = 'ducks'

print(fuzz.partial_ratio(s1, s2))
print(fuzz.token_sort_ratio(s1, s2))
print(fuzz.partial_token_sort_ratio(s2, s1))
print(fuzz.partial_token_set_ratio(s1, s2))

print(process.extractOne(s1, s2, scorer = fuzz.partial_token_sort_ratio))
print(process.extractOne(s1, s2, scorer = fuzz.partial_token_set_ratio))

100
20
100
100
('d', 100)
('d', 100)

In [132]:
def say_hello(name:pandas.core.frame.DataFrame):
    print(f'hello {name}')

NameError: name 'pandas' is not defined

In [131]:
say_hello('hello')

hello hello

# extra

In [136]:
matched_data = []
def get_match(source_1, source_2):
    def get_ratios(i, j):
        print(f"'{i}' vs '{j}'")

        ratio = fuzz.ratio(i, j)
        print(f"Ratio : {ratio}")

        partial_ratio = fuzz.partial_ratio(root_words(i)[0], j)
        print(f"Partial Ratio : {partial_ratio}")

        token_sort_ratio = fuzz.token_sort_ratio(i, j)
        print(f"Token sort Ratio : {token_sort_ratio}")

        token_set_ratio = fuzz.token_set_ratio(i, j)
        print(f"Token set Ratio : {token_set_ratio}")
        print()

        return partial_ratio, token_set_ratio

    for i in source_2:
        i = i.strip()
        synonyms = get_synonyms(i) if ' ' not in i else None
        all_synonyms = ''
        if synonyms:
            synonym_str = ' '.join(synonyms)
            all_synonyms = i + ' ' + synonym_str

        for j in source_1:
            partial_ratio, token_set_ratio = get_ratios(i, j)
            if token_set_ratio == 100 or partial_ratio > 80:
                matched_data.append(dict(s1=j, s2=i))
                source_2.remove(i)
                source_1.remove(j)
                return get_match(source_1, source_2)
            if len(all_synonyms) > 0:
                partial_ratio = get_ratios(all_synonyms, j)[0]
                if partial_ratio > 80:
                    matched_data.append(dict(s1=j, s2=i))
                    source_2.remove(i)
                    source_1.remove(j)
                    return get_match(source_1, source_2)
            else:
                continue
    return matched_data

# Testing predicted matches

In [137]:
import pandas as pd
from thefuzz import fuzz,process

In [155]:
df_names_ids = pd.read_csv('matched_names_ids.csv')
df_names_ids.shape

(1200, 5)

In [139]:
df_names_ids.head()

,Unnamed: 0,id1,source_1,id2,source_2
0,0,0,"Horses, asses, mules and hinnies; live, pure-b...",20744,hinnies
1,1,1,"Horses; live, pure-bred breeding animals",29816,animals
2,2,2,"Horses; live, other than pure-bred breeding an...",36008,breeding
3,3,3,"Horses, asses, mules and hinnies; live, other ...",35887,mules
4,4,5,"Cattle; live, pure-bred breeding animals",2890,cattle

In [140]:
del(df_names_ids['Unnamed: 0'])

In [141]:
df_names_ids.head()

   id1                                           source_1    id2  source_2
0    0  Horses, asses, mules and hinnies; live, pure-b...  20744   hinnies
1    1           Horses; live, pure-bred breeding animals  29816   animals
2    2  Horses; live, other than pure-bred breeding an...  36008  breeding
3    3  Horses, asses, mules and hinnies; live, other ...  35887     mules
4    5           Cattle; live, pure-bred breeding animals   2890    cattle

In [150]:
def get_ratios(i, j):
    print(f"'{i}' vs '{j}'")

    ratio = fuzz.ratio(i, j)
    print(f"Ratio : {ratio}")

    partial_ratio = fuzz.partial_ratio(i, j)
    print(f"Partial Ratio : {partial_ratio}")

    token_sort_ratio = fuzz.token_sort_ratio(i, j)
    print(f"Token sort Ratio : {token_sort_ratio}")

    token_set_ratio = fuzz.token_set_ratio(i, j)
    print(f"Token set Ratio : {token_set_ratio}")

    partial_token_sort_ratio = fuzz.partial_token_sort_ratio(i, j)
    print(f"Partial token sort Ratio : {partial_token_sort_ratio}")

    partial_token_set_ratio = fuzz.partial_token_set_ratio(i, j)
    print(f"Partial token sort Ratio : {partial_token_set_ratio}")
    print()


    return partial_ratio, token_set_ratio

In [151]:
s1 = df_names_ids.source_1.to_list()
s2 = df_names_ids.source_2.to_list()

In [153]:
#for x,y in zip(src1, src2):
    #get_ratios(x,y)

# Further Processing